In [82]:
''' 1 Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'''

' 1 Write a Python function to accept a string value from the user and display the\ncount of each character in that string. Sample input: Enter a string value:\nassembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'

In [ ]:
string = input("Enter a string: ")
l1 = ['a','s','e','m','b','l','y']
for char in string:
    if char not in l1:
        l1.append(char)
for item in l1:
 print(item,string.count(item), sep = "=")

Enter a string: 5
a=0
s=0
e=0
m=0
b=0
l=0
y=0
5=1

In [83]:
''' 2 Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''

' 2 Write a Python function to find the maximum of three numbers Sample input:\n34,12,7 Sample output: 34'

In [ ]:
def maximum(a, b, c):
   l1= [a, b, c]

   return max(l1)
x = int(input("Enter First number:"))
y = int(input("Enter Second number:"))
z = int(input("Enter Third number:"))
print("Maximum Number is = ",maximum(x, y, z))

Enter First number:22
Enter Second number:33
Enter Third number:444
Maximum Number is =  444

In [84]:
''' 3 Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 '''

' 3 Write a Python function called exponent(base,exp) that returns an integer\nvalue of base raises to the power of exp. Sample input: Enter the base: 2\nEnter the exponent: 3 Sample output: 8 '

In [ ]:
def exponent(base, exp):
  if exp == 0:
    return 1
  else:
    return base * exponent(base, exp - 1)
base = 2
exp = 3

result = exponent(base, exp)

print(f"{base} raised to the power of {exp} is {result}")

2 raised to the power of 3 is 8

In [85]:
''' 4 Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.'''

' 4 Write a Python function that takes a positive integer and returns the sum of\nthe cube of all the positive integers smaller than the specified number.\nSample input: 4 Sample output: 36.'

In [86]:
def sum(x):
  sum = 0
  for i in range(1, x):
    sum = i**3
  return sum

print(sum(4))

27

In [87]:
''' 5 Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz '''

' 5 Write a Python program which iterates from 1 to 10. For multiples of 2, print\n“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For\nnumbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:\nnumbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9\nFizzBuzz '

In [ ]:
for i in range(1, 11):
  if i % 1 == 0 and i % 2 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
FizzBuzz
3
FizzBuzz
Buzz
FizzBuzz
7
FizzBuzz
9
FizzBuzz

In [93]:
''' 6 Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2'''

' 6 Write a Python function to find the most frequent item in a list of numbers.\nSample input: 2, 3, 4, 2, 5, 2 Sample output: 2'

In [90]:
''' 7 Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15'''

' 7 Write a Python function to find the sum of squares of the numbers in a list.\nSample input: 2,1,3,1 Sample output: 15'

In [97]:
s = 0
l1 = [2,1,3,1]
for n in l1:
  s = s+n*n
  print(s)

4
5
14
15

In [91]:
''' 8 Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd'''

' 8 Write a Python program using for loop that will iterate from 1 to 15. For each\niteration, check if the current number is odd or even, and display the message\nto the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-\neven …. 15-odd'

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
even=[]
odd=[]
while len(l1)>0:
  l=l1.pop()
  if l%2==0:
    even.append(l)
  else:
      odd.append(l)
print(even)
print(odd)

[14, 12, 10, 8, 6, 4, 2]
[15, 13, 11, 9, 7, 5, 3, 1]

In [92]:
''' 9 Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5'''

' 9 Write a Python function to convert temperatures to and from Celsius\nFahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=\ntemperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41\nSample output: Temperature in Celsius =5'

In [98]:
''' 10 Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6 '''

' 10 Write a Python function to calculate the factorial of a number (a nonnegative \ninteger). The function accepts the number as an argument. Sample input: 3 \nSample output: 6 '

In [100]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(3))

6